
<header>
  <h1 class="text-center">Your Saved Commits</h1>
  <hr>
</header>

<% if @commits.empty? %>
  <p class="text-muted">No commits yet...</p>
<% else %>
  <ul class="list-group">
    <li class="list-group-item border-none">
      <% @commits.each_with_index do |commit, index| %>
        <li class="list-group-item">
          <div class="row">
            <div class="col-1"><%= index.next %>.</div>
            <div class="col-11">
              <%= render partial: 'commits/commit',
                locals: { commit: commit }
              %>
              <%= render partial: 'memes/form', locals: { commit: commit } %>
            </div>
          </div>
        </li>
      <% end %>
    </li>
  </ul>
<% end %>
