<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <%= link_to(
    "#{ fa_icon 'github' } #{ app_name }".html_safe,
    root_path,
    class: 'navbar-brand'
  ) %>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav navbar-right mr-auto">
      <li class="nav-item">
        <%= link_to('Search for Commits', root_path, class: 'nav-link') %>
      </li>
      <li class="nav-item">
        <%= link_to('View Saved Commits', commits_path, class: 'nav-link') %>
      </li>
    </ul>
  </div>
</nav>