
<header>
  <h1 class="text-center">Search for Commit Messages</h1>
  <hr>
</header>

<%= form_tag('/searches', method: :get, class: 'mb-4') do %>
  <div class="row">
    <div class="col">
      <div class="input-group">
        <%= text_field_tag('q', @q,
          class: 'form-control', placeholder: 'Search...', autofocus: true
        ) %>
        <span class="input-group-append">
          <%= button_tag('Submit', class: 'btn btn-outline-secondary') %>
        </span>
      </div>
    </div>
  </div>
<% end %>

<h2>Results</h2>
<% if @results.empty? %>
  <p class="text-muted">No results yet...</p>
<% else %>
  <ul class="list-group">
    <% @results.each_with_index do |item, index| %>
      <%= render partial: 'search_result',
        locals: { search_result: item, number: index.next, q: @q, commit: @commit }
      %>
    <% end %>
  </ul>
<% end %>
